*{
  margin:0;
}
.Errorph{
  width:95vw;
  height: 90vh;
}

/* CSS */
.button-35 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #ab2929;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.center{
 display: flex;
 align-items: center;
 justify-content: center;
}
.button-35:hover {
  box-shadow: #880606 0 0 0 3px, transparent 0 0 0 0;
}
.footerShow {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}
.footerShow div {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: #000000;
}
.footerShow div a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}
.footerShow div a:hover {
  color: #000000;
  transform: scale(1.2);
  transition: all 0.3s;
}
.footerHide {
  display: none;
}
@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}
@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}

nav {
  background: #ffffff;
  padding: 0 20px;
}
nav .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
nav .container .logo {
  width: 120px;
  height: 120px;
}
nav .container .logo img {
  width: 100%;
  height: 100%;
}
nav .menu {
  display: flex;
  gap: 25px;
  align-items: center;
}
nav .menu button {
  height: fit-content;
  padding: 7px;
  border: 1px solid #030303;
  color: #000000;
  background: transparent;
  font-size: 20px;
  font-weight: 300;
}
nav .menu button:hover {
  color: #000000;
  background:rgb(243, 98, 35);
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid #10070b;
}
nav .menu li a {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  position: relative;
}
nav .menu li a:hover {
  color: #66beed;
  transition: all 0.3s;
}
nav .menu li a::before {
  content: "";
  position: absolute;
  background: #000000;
  height: 1px;
  width: 100%;
  left: -100%;
  bottom: 0;
  transition: all 0.3s;
}
nav .menu li a:hover::before {
  transition: all 0.3s;
  left: 0;
}
nav .hamburger {
  display: none;
}
@media (max-width: 1520px) {
  nav .container {
    min-width: 100%;
  }
}
@media (max-width: 1130px) {
  .page {
    padding-top: 120px;
  }
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
  }
  nav .hamburger {
    display: block;
    font-size: 50px;
    color: #054594;
  }
  nav .container {
    align-items: center;
  }
  .menu {
    position: fixed;
    top: 120px;
    background: #ffffff;
    left: -100%;
    transition: all 0.3s;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
  }
  nav .show-menu {
    position: fixed;
    top: 120px;
    background: #f1f3f6;
    transition: all 0.3s;
    left: 0;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
    box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
  }
  nav .show-menu li a {
    color: #000000;
    font-weight: 600;
  }
  nav .show-menu button {
    color: #000000;
    border: 1px solid #000000;
    font-weight: 600;
  }
  nav .show-menu button:hover {
    background: #000000;
    color: #f1f3f6;
  }
}
@media (max-width: 490px) {
  nav .menu {
    width: 100%;
  }
}

